@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1654152597382') format('truetype');
}

.iconfont {
  font-family: "iconfont", serif !important;
  font-size: 8px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-desc:before {
  content: "\f0111";
}

.icon-asc:before {
  content: "\f0113";
}

